# Mental Health Prediction

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import sklearn

In [2]:
path = '/Users/kaylakim/Documents/portfolio/Mental-Health/'

In [3]:
train = pd.read_csv(path + 'train.csv', index_col=0)
train.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
id,,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [4]:
train.shape

(140700, 19)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140700 entries, 0 to 140699
Data columns (total 19 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             104070 non-null  object
 6   Academic Pressure                      27897 non-null   float64
 7   Work Pressure                          112782 non-null  float64
 8   CGPA                                   27898 non-null   float64
 9   Study Satisfaction                     27897 non-null   float64
 10  Job Satisfaction                       112790 non-null  float64
 11  Sleep Duration                         140700 non-null  object
 12  Dietary Habits                         140696 non-null  object
 13  Degree                                 140698 non-null  object
 14  Have you ever had suicidal thoughts ?  140700 non-null  object
 15  Work/Study Hours                       140700 non-null  float64
 16  Financial Stress                       140696 non-null  float64
 17  Family History of Mental Illness       140700 non-null  object
 18  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(10)
memory usage: 21.5+ MB

In [6]:
train.isnull().sum()/train.shape[0]*100

Name                                      0.000000
Gender                                    0.000000
Age                                       0.000000
City                                      0.000000
Working Professional or Student           0.000000
Profession                               26.034115
Academic Pressure                        80.172708
Work Pressure                            19.842217
CGPA                                     80.171997
Study Satisfaction                       80.172708
Job Satisfaction                         19.836532
Sleep Duration                            0.000000
Dietary Habits                            0.002843
Degree                                    0.001421
Have you ever had suicidal thoughts ?     0.000000
Work/Study Hours                          0.000000
Financial Stress                          0.002843
Family History of Mental Illness          0.000000
Depression                                0.000000
dtype: float64

In [7]:
numbers = [f for f in train.columns if train.dtypes[f] != 'object'] # Quantitative:
len(numbers)

9

In [8]:
# numbers_list = ','.join(numbers)
# numbers_list

In [9]:
# objects = [f for f in train.columns if train.dtypes[f] == 'object'] # Quanlitative:
# objects_list = ','.join(objects)
# objects_list

In [10]:
# # Categorical:
# i = 1
# for object in objects:
#     print(i, "/", object, "\t", len(train[object].unique()), ":", train[object].unique())
#     i = i + 1

In [11]:
# # Continuous
# i = 1
# for object in numbers:
#     print(i, "/", object, "\t", len(train[object].unique()), ":", train[object].unique() if len(train[object].unique()) < 150 else "")
#     i = i + 1

### PreProcessing

In [12]:
def drop_col(train, percent):
    drop_col = []
    for name_col, value in train.isnull().sum().items():
        value = value/train.shape[0]*100
        if value >= percent:
            drop_col.append(name_col)
    return drop_col

In [13]:
drop_col = drop_col(train, 80)

In [14]:
train.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [15]:
def pre_process(train, drop_col):
    for i in train.columns:
        if i == 'Name':
            train = train.drop(i, axis=1)
    
    train = train.drop(drop_col, axis=1)
    train = train.interpolate()

    # Find categorical columns to encode 
    objects = [f for f in train.columns if train.dtypes[f] == 'object']

    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    # Encode labels for object columns
    for value in train[objects]:
        train[value] = le.fit_transform(train[value])
    return train

In [16]:
# train = pre_process(train, drop_col)
# train.shape

In [17]:
# sub = pd.read_csv(path + 'sample_submission.csv')
# sub.head()

In [18]:
y = train[train.columns[-1]]
# Drop 'Depression' column
X = train.drop(train.columns[-1], axis=1)
X.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
id,,,,,,,,,,,,,,,,,,
0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No
1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No
2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No
3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes
4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes

In [19]:
train.Depression.value_counts()

Depression
0    115133
1     25567
Name: count, dtype: int64

In [20]:
X.shape

(140700, 18)

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3)

In [22]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [23]:
from sklearn.pipeline import Pipeline
inputs = [('Pre-Process', pre_process(train, drop_col)),
          ('model', GaussianNB())]

pipe = Pipeline(inputs)
pipe

Pipeline(steps=[('Pre-Process',
                         Gender   Age  City  Working Professional or Student  Profession  \
id
0            0  49.0    50                                1          10
1            1  26.0    93                                1          55
2            1  33.0    97                                0          64
3            1  22.0    64                                1          55
4            0  30.0    37                                1           9
...        ...   ...   ...                              ...         ...
140695       0  18.0     4                                1          64
140696       0  41.0    26                                1          15
140697       0  24.0    44                                1          38
140698       0  49.0    84                                1          47
140699       1  27.0    72                                0          64

        Work Pressure  Job Satisfaction  Sleep Duration  Dietary Habits  \
id
0                 5.0               2.0              29               7
1                 4.0               3.0              27              20
2                 4.5               2.0              15               7
3                 5.0               1.0              27              15
4                 1.0               1.0              15              20
...               .....
        Degree  Have you ever had suicidal thoughts ?  Work/Study Hours  \
id
0           33                                      0               1.0
1           63                                      1               7.0
2           21                                      1               3.0
3           28                                      1              10.0
4           28                                      1               9.0
...        ...                                    ...               ...
140695      45                                      0               2.0
140696      24                                      1               6.0
140697      19                                      0               4.0
140698      84                                      1              10.0
140699      29                                      1               2.0

        Financial Stress  Family History of Mental Illness  Depression
id
0                    2.0                                 0           0
1                    3.0                                 0           1
2                    1.0                                 0           1
3                    1.0                                 1           1
4                    4.0                                 1           0
...                  ...                               ...         ...
140695               4.0                                 1           1
140696               5.0                                 1           0
140697               4.0                                 0           0
140698               1.0                                 0           0
140699               3.0                                 1           1

[140700 rows x 15 columns]),
                ('model', GaussianNB())])

In [24]:
model.fit(X_train, y_train)
y_pred = model.predict(X_valid)

ValueError: could not convert string to float: 'Ritik'

In [ ]:
sub = pd.read_csv(path + 'sample_submission.csv')
sub

           id  Depression
0      140700           0
1      140701           0
2      140702           0
3      140703           0
4      140704           0
...       ...         ...
93795  234495           0
93796  234496           0
93797  234497           0
93798  234498           0
93799  234499           0

[93800 rows x 2 columns]

In [ ]:
# check train, valid score
train_score = model.score(X_train, y_train)
valid_score = model.score(X_valid, y_valid)
print(f'train_score= {train_score*100} %')
print(f'valid_score= {valid_score*100} %')

train_score= 88.29322773885674 %
valid_score= 88.08102345415779 %

In [ ]:
df = pd.DataFrame({'Actual': pd.DataFrame(y_valid.values)[0].values,
                  'Prediction': pd.DataFrame(y_pred)[0].values})
df

       Actual  Prediction
0           0           0
1           0           0
2           1           1
3           0           0
4           0           0
...       ...         ...
42205       1           1
42206       1           1
42207       0           0
42208       0           0
42209       0           0

[42210 rows x 2 columns]

Read test

In [ ]:
test = pd.read_csv(path + 'test.csv', index_col=0)
test.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
id,,,,,,,,,,,,,,,,,,
140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

Pre Process Test

In [ ]:
test = pre_process(test, drop_col)
test.head()

,Gender,Age,City,Working Professional or Student,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
id,,,,,,,,,,,,,,
140700,1,53.0,67,1,27,2.0,5.0,25,12,53,0,9.0,3.0,1
140701,0,58.0,25,1,19,2.0,4.0,25,12,16,0,6.0,4.0,0
140702,1,53.0,21,1,56,4.0,1.0,16,12,12,1,12.0,4.0,0
140703,0,23.0,47,0,64,4.5,3.0,27,12,35,1,10.0,4.0,0
140704,1,47.0,22,1,56,5.0,5.0,16,12,28,1,3.0,4.0,0

In [ ]:
test = model.predict(test)
test

array([0, 0, 0, ..., 1, 1, 0])

In [ ]:
sub.dep_delayed_15min = test
sub

           id  Depression
0      140700           0
1      140701           0
2      140702           0
3      140703           0
4      140704           0
...       ...         ...
93795  234495           0
93796  234496           0
93797  234497           0
93798  234498           0
93799  234499           0

[93800 rows x 2 columns]

In [ ]:
# sub.to_csv('submission.csv', index=False)